In [2]:
import pandas as pd

In [3]:
raw_data = pd.read_csv("arrests.csv")

In [4]:
raw_data.head(10)

,PK,CCR,AGE,GENDER,RACE,ARRESTTIME,ARRESTLOCATION,OFFENSES,INCIDENTLOCATION,INCIDENTNEIGHBORHOOD,INCIDENTZONE,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
0,1975272,16158872,42.0,F,B,2016-08-24T12:20:00,"4700 Block Centre AV Pittsburgh, PA 15213",3929 Retail Theft.,"4700 Block Centre AV Pittsburgh, PA 15213",Bloomfield,5,804.0,8.0,2.0,-79.949277,40.452551
1,1974456,16144120,31.0,M,W,2016-08-03T14:55:00,"4200 Block Steubenville PKE Pittsburgh, PA 15205",13(a)(16) Possession of Controlled Substance,"4200 Block Steubenville PKE Pittsburgh, PA 15205",Outside City,OSC,5599.0,NaN,NaN,-80.088018,40.440136
2,1974466,16144165,63.0,F,B,2016-08-03T16:45:00,"900 Block Freeport RD Fox Chapel, PA 15238",3929 Retail Theft.,"900 Block Freeport RD Fox Chapel, PA 15238",Westwood,5,2811.0,9.0,2.0,-79.891803,40.486625
3,1974550,16145257,25.0,F,W,2016-08-05T02:36:00,"Foreland ST & Cedar AV Pittsburgh, PA 15212",5503 Disorderly Conduct. / 5505 Public Drunken...,"Foreland ST & Cedar AV Pittsburgh, PA 15212",East Allegheny,1,2304.0,1.0,1.0,-80.001939,40.454080
4,1974596,16145962,25.0,M,B,2016-08-06T02:00:00,"900 Block Woodlow ST Pittsburgh, PA 15205",2702 Aggravated Assault. / 2705 Recklessy Enda...,"900 Block Woodlow ST Pittsburgh, PA 15205",Crafton Heights,5,2814.0,2.0,5.0,-80.052204,40.445900
5,1974556,16144301,45.0,M,W,2016-08-15T13:30:00,"600 Block 1st AV Pittsburgh, PA 15219",3929 Retail Theft.,"800 Block Hazelwood AV Pittsburgh, PA 15217",Greenfield,4,1517.0,5.0,3.0,-79.929238,40.419699
6,1974628,16147655,29.0,M,W,2016-08-16T13:00:00,"2300 Block Pioneer AV Pittsburgh, PA 15226",2701 Simple Assault.,"2300 Block Pioneer AV Pittsburgh, PA 15226",Brookline,6,1919.0,4.0,5.0,-80.020357,40.400037
7,1974607,16146037,21.0,F,B,2016-08-16T04:25:00,"600 Block 1st AV Pittsburgh, PA 15219",2701 Simple Assault. / 5505 Public Drunkenness...,"700 Block S Braddock AV Pittsburgh, PA 15221",Regent Square,4,1410.0,NaN,NaN,-79.834462,40.398957
8,1974643,16132537,17.0,M,B,2016-08-29T17:55:00,"1400 Block Washington BL Pittsburgh, PA 15206",903 Criminal Conspiracy. / 3701 Robbery.,"N Euclid AV & Broad ST Pittsburgh, PA 15206",East Liberty,5,1115.0,NaN,NaN,0.000000,0.000000
9,1974647,16138646,14.0,M,B,2016-08-23T13:36:00,Zone 2,3127 Indecent Exposure. / 3123(a)(6) IDSI with...,Zone 5,NaN,5,NaN,NaN,NaN,NaN,NaN

In [7]:
arrests = raw_data.groupby("INCIDENTNEIGHBORHOOD").count()

In [8]:
arrests.head(10)

,PK,CCR,AGE,GENDER,RACE,ARRESTTIME,ARRESTLOCATION,OFFENSES,INCIDENTLOCATION,INCIDENTZONE,INCIDENTTRACT,COUNCIL_DISTRICT,PUBLIC_WORKS_DIVISION,X,Y
INCIDENTNEIGHBORHOOD,,,,,,,,,,,,,,,
Allegheny Center,1016,1016,1011,1016,1016,1016,1016,1016,1016,1016,1016,762,762,1016,1016
Allegheny West,109,109,108,109,109,109,109,109,109,109,109,94,94,109,109
Allentown,805,805,799,805,805,805,805,805,805,805,805,756,756,805,805
Arlington,250,250,249,250,250,250,250,250,250,250,250,233,233,250,250
Arlington Heights,122,122,122,122,122,122,122,122,122,122,122,110,110,122,122
Banksville,243,243,242,243,243,243,243,243,243,243,243,218,218,243,243
Bedford Dwellings,530,530,528,530,530,530,530,530,530,530,530,501,501,530,530
Beechview,1032,1032,1024,1032,1032,1032,1032,1032,1032,1032,1032,928,928,1032,1032
Beltzhoover,436,436,432,436,436,436,436,436,436,436,436,393,393,436,436
Bloomfield,840,840,835,840,840,840,840,840,840,840,840,760,760,840,840

In [9]:
arrests["Arrests"] = arrests["PK"]

In [10]:
arrests = arrests.drop(arrests.columns.difference(["Arrests"]), axis=1)

In [11]:
arrests.head(10)

                      Arrests
INCIDENTNEIGHBORHOOD
Allegheny Center         1016
Allegheny West            109
Allentown                 805
Arlington                 250
Arlington Heights         122
Banksville                243
Bedford Dwellings         530
Beechview                1032
Beltzhoover               436
Bloomfield                840

In [12]:
arrests.sort_values(by=["Arrests"])

                           Arrests
INCIDENTNEIGHBORHOOD
Mt. Oliver Neighborhood          2
Troy Hill-Herrs Island           6
Mt. Oliver Boro                 18
Central Northside               23
Regent Square                   28
...                            ...
Homewood South                1747
East Allegheny                1777
Carrick                       1963
South Side Flats              2856
Central Business District     3324

[98 rows x 1 columns]

In [ ]:
arrests = arrests.assign(ArreScore = pd.cut(data["CRASH_TOTAL"], bins = [0, 200, 1000, 10000, 100000], labels = ["4", "3", "2", "1"]))