In [29]:
import pandas as pd
fac = pd.read_csv("facility_scores.csv", index_col="Neighborhood")
arr = pd.read_csv("arrest_data.csv", index_col="Neighborhood")
play = pd.read_csv("playground_point_data.csv", index_col="Neighborhood")

output = pd.merge(fac,arr,
                 on='Neighborhood',
                 how='inner')
output

output2 = pd.merge(output,play,
                  on='Neighborhood',
                  how='inner')
output2


output3 = output2.drop(['facility count', 'Arrests', 'num_playgrounds', 'categorization'], axis=1)

output3

                     Points  Arrests_Score  score_playgrounds
Neighborhood
Highland Park             4              3                  2
Squirrel Hill South       4              2                  4
Perry North               3              2                  2
Brookline                 3              1                  2
Strip District            2              3                  1
...                     ...            ...                ...
Larimer                   1              2                  1
Point Breeze North        1              3                  1
Crafton Heights           1              3                  2
Swisshelm Park            1              4                  2
Middle Hill               1              2                  1

[64 rows x 3 columns]

In [34]:
output3['Total Score'] = output3.sum(axis=1)

output3

output3.sort_values('Total Score', ascending=False)

                     Points  Arrests_Score  score_playgrounds  Total Score
Neighborhood
Squirrel Hill South       4              2                  4           40
Highland Park             4              3                  2           36
Morningside               1              4                  2           28
Swisshelm Park            1              4                  2           28
Upper Lawrenceville       1              4                  2           28
...                     ...            ...                ...          ...
Marshall-Shadeland        1              1                  2           16
Middle Hill               1              2                  1           16
Homewood North            1              1                  1           12
East Allegheny            1              1                  1           12
Bluff                     1              1                  1           12

[64 rows x 4 columns]